<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Checks in the git repo:</h1>

      <table class="table">
        <tr><th>Id</th><th>Particular state</th><th>Feature bug</th><th>User story</th><th>Instructions</th><th>Variables</th></tr>
        <tr ng-repeat="check in checks">
          <td>{{check.id}}</td>
          <td>{{check.state}}</td>
          <td>{{check.bug}}</td>
          <td>{{check.userStory }}</td>
          <td>{{check.instructions}}</td>
          <td>
            <table>
              <tr><th ng-repeat="(key, val) in check.variables[0]">{{key}}</th></tr>
              <tr ng-repeat="variable in check.variables">
                <td ng-repeat="(key, value) in variable">{{value}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
</div>
